# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/
generated/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/certificates
fastlane/provisioning
Fastlane/artifacts

\.DS_Store

## IntelliJ
.idea/
HUB.xcodeproj/project_BACKUP_56961.pbxproj
HUB.xcodeproj/project_BACKUP_59470.pbxproj
HUB.xcodeproj/project_BASE_56961.pbxproj
HUB.xcodeproj/project_BASE_59470.pbxproj
HUB.xcodeproj/project_LOCAL_56961.pbxproj
HUB.xcodeproj/project_LOCAL_59470.pbxproj
HUB.xcodeproj/project_REMOTE_56961.pbxproj
HUB.xcodeproj/project_REMOTE_59470.pbxproj
Sources/Common/Route/Route.swift.orig
Sources/Modules/Profile/View Controller/ProfileViewController.swift.orig
HUB.xcodeproj/project.pbxproj.orig
Sources/Modules/Groups/Model/Groups_BACKUP_62321.swift
Sources/Modules/Groups/Model/Groups_BACKUP_62458.swift
Sources/Modules/Groups/Model/Groups_BACKUP_62669.swift
Sources/Modules/Groups/Model/Groups_BASE_62321.swift
Sources/Modules/Groups/Model/Groups_BASE_62458.swift
Sources/Modules/Groups/Model/Groups_BASE_62669.swift
Sources/Modules/Groups/Model/Groups_LOCAL_62321.swift
Sources/Modules/Groups/Model/Groups_LOCAL_62458.swift
Sources/Modules/Groups/Model/Groups_LOCAL_62669.swift
Sources/Modules/Groups/Model/Groups_REMOTE_62321.swift
Sources/Modules/Groups/Model/Groups_REMOTE_62458.swift
Sources/Modules/Groups/Model/Groups_REMOTE_62669.swift
Sources/Modules/Groups/Repository/GroupsRepository_BACKUP_63027.swift
Sources/Modules/Groups/Repository/GroupsRepository_BASE_63027.swift
Sources/Modules/Groups/Repository/GroupsRepository_LOCAL_63027.swift
Sources/Modules/Groups/Repository/GroupsRepository_REMOTE_63027.swift
